<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.SnortInOSGi.frontend.IPFields.viewcategory"
            name="IPFields View Category">
      </category>
      <view
      		allowMultiple="true"
            category="org.SnortInOSGi.frontend.IPFields.viewcategory"
            class="org.snortinosgi.frontend.ipfields.views.IPFieldsView"
            id="org.SnortInOSGi.frontend.IPFields.view"
            name="IPFields View"
            restorable="true">
      </view>
   </extension>

</plugin>
