<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.SnortInOSGi.frontend.SnortInOSGiGUI.application"
            name="producttest2">
         <property
               name="appName"
               value="producttest2">
         </property>
      </product>
   </extension>

</plugin>
